{% extends "base.html" %}
{% load staticfiles %}

{% block content %}

	<h2>
		{{ latest_date|date:"d/m/Y" }}
	</h2>

	<table class="stats-table results">

		{% for game in latest_results %}
				
			<!-- Show the result of each game. -->
			<tr>

				<td class="center-align">
					<!-- Find which competition ID matches the game competition. IDs are used to reduce database queries. -->
					{% for competition in competitions %}
						{% if competition.id == game.competition %}
							<img class="flag-icon" src="/media/{{ competition.country.flag }}" /> {{ competition.abbreviation }}
						{% endif %}
					{% endfor %}
				</td>
				<td class="right-align">
					<!-- Find which team ID matches the home team. IDs are used to reduce database queries. -->
					{% for team in teams %}
						{% if team.id == game.home_team %}
							{{ team.short_name }}
						{% endif %}
					{% endfor %}
				</td>
				<td class="game-score center-align">
					{{ game.home_score }}-{{ game.away_score }}
				</td>
				<td>
					<!-- Find which team ID matches the away team. IDs are used to reduce database queries. -->
					{% for team in teams %}
						{% if team.id == game.away_team %}
							{{ team.short_name }}
						{% endif %}
					{% endfor %}
				</td>

			</tr>

		{% endfor %}

	</table>

{% endblock %}