{% extends "base.html" %}
{% load staticfiles %}
{% load mathfilters %}

{% block content %}

	<!-- Competition Title -->
	<h2>
		{{ competition }}
	</h2>

	{% if competition.competition_type == "League" %}

		<!-- Show the league table. -->
		<table class="stats-table league">

			<!-- Table header row. -->
			<tr>
				<th>Pos</th>
				<th></th>
				<th>P</th>
				<th>W</th>
				<th>D</th>
				<th>L</th>
				<th>F</th>
				<th>A</th>
				<th>{{ table_tie_breaker }}</th>
				<th>Pts</th>
			</tr>

		{% for team in league_table %}

			<!-- Set up the CSS classes for rows which need to be highlighted. -->
			{% if forloop.counter in table_zones.top_primary %}
				<tr class="top-primary">
			{% elif forloop.counter in table_zones.top_secondary %}
				<tr class="top-secondary">
			{% elif forloop.counter in table_zones.bottom_secondary %}
				<tr class="bottom-secondary">
			{% elif forloop.counter in table_zones.bottom_primary %}
				<tr class="bottom-primary">
			{% endif %}

					<!-- Show the team's record. -->
					<td class="center-align">
						{{ forloop.counter }}
					</td>

					<td>
						<a class="table-link" href="{% url 'team_season' team.abbreviation|lower competition.season %}">
							{{ team.name }}
						</a>
					</td>

					<td class="center-align">
						{{ team.games_played|floatformat:0 }}
					</td>

					<td class="center-align">
						{{ team.games_won|floatformat:0 }}
					</td>

					<td class="center-align">
						{{ team.games_drawn|floatformat:0 }}
					</td>

					<td class="center-align">
						{{ team.games_lost|floatformat:0 }}
					</td>

					<td class="center-align">
						{{ team.goals_for|floatformat:0 }}
					</td>

					<td class="center-align">
						{{ team.goals_against|floatformat:0 }}
					</td>

					<td class="center-align">
						{% if table_tie_breaker == "GA" %}
							{{ team.goal_average|floatformat:2 }}
						{% else %}
							{{ team.goal_difference|floatformat:0 }}
						{% endif %}
					</td>

					<td class="center-align">
						{{ team.points|floatformat:0 }}
					</td>

				</tr>

		{% endfor %}

		</table>

		<section class="competition-details">

			<!-- Show the points adjustments if there are any. -->
			{% if adjustments %}

				{% for adjustment in adjustments %}
					*
					{{ adjustment.team }} 
						{% if adjustment.points > 0 %}
							awarded
						{% else %}
							deducted
						{% endif %}
					{{ adjustment.points|abs }}
						{% if adjustment.points|abs == 1 %}
							point.
						{% else %}points{% endif %}{% if forloop.last %}.{% else %},{% endif %}
				{% endfor %}

			{% endif %}

			<!-- Show the competition notes if there are any. -->
			{% if competition.note %}

				NB: {{ competition.note }}

			{% endif %}

		</section>

	{% else %}

		<table class="stats-table results">

			{% for game in games %}
				
				<!-- Show the result of each game. -->
				<tr>

					<td class="center-align">
						<a class="table-link" href="{% url 'date_results' game.game_date|date:'Y' game.game_date|date:'m' game.game_date|date:'d' %}">
							{{ game.game_date|date:"d/m/y" }}
						</a>
					</td>
					<td class="right-align">
						<!-- Find which team ID matches the home team. IDs are used to reduce database queries. -->
						{% for team in teams %}
							{% if team.id == game.home_team %}
								<a class="table-link" href="{% url 'team_season' team.abbreviation|lower season %}">
									{{ team.short_name }}
								</a>
							{% endif %}
						{% endfor %}
					</td>
					<td class="game-score center-align">
						{{ game.home_score }}-{{ game.away_score }}
					</td>
					<td>
						<!-- Find which team ID matches the away team. IDs are used to reduce database queries. -->
						{% for team in teams %}
							{% if team.id == game.away_team %}
								<a class="table-link" href="{% url 'team_season' team.abbreviation|lower season %}">
									{{ team.short_name }}
								</a>
							{% endif %}
						{% endfor %}
					</td>

				</tr>

			{% endfor %}

		</table>

		<section class="competition-details">

			<!-- Show the competition notes if there are any. -->
			{% if competition.note %}

				NB: {{ competition.note }}

			{% endif %}

		</section>

	{% endif %}

	{% if subsidiaries %}

		<section class="competition-details">

			{% for subsidiary in subsidiaries %}

				{{ subsidiary.name }}

				<table class="stats-table results">

					{% for game in subsidiary_games %}
						
						<!-- Show the result of each game. -->
						<tr>

							<td class="center-align">
								{{ game.game_date|date:"d/m/y" }}
							</td>
							<td class="right-align">
								<!-- Find which team ID matches the home team. IDs are used to reduce database queries. -->
								{% for team in subsidiary_teams %}
									{% if team.id == game.home_team %}
										{{ team.short_name }}
									{% endif %}
								{% endfor %}
							</td>
							<td class="game-score center-align">
								{{ game.home_score }}-{{ game.away_score }}
							</td>
							<td>
								<!-- Find which team ID matches the away team. IDs are used to reduce database queries. -->
								{% for team in subsidiary_teams %}
									{% if team.id == game.away_team %}
										{{ team.short_name }}
									{% endif %}
								{% endfor %}
							</td>

						</tr>

					{% endfor %}

				</table>

			{% endfor %}

		</section>

	{% endif %}

{% endblock %}