/* General site layout styles */
body {
    margin: 0;
    padding: 0;
	font-family: "Oswald", sans-serif;
}

header {
	background-color: #333333;
	color: white;
	text-align: center;
	margin: 0 0 2px 0;
	border-bottom: 2px black solid;
}

h1 {
	margin: 0;
}

h2 {
	margin: 0;
	text-align: center;
	font-size: 1.2em;
	padding: 0 0 3px 0;
}

/* Styles for navigation links. */
#main-menu {
	width: 100%;
	background-color: #666666;
	text-align: left;
}
.menu-link {
	color: white;
	text-decoration: none;
	padding: 0 0 2px 20px;
	border-top: 1px black solid;
	display: block;
}
.page-index {
	padding: 0 10px;
}
.page-link {
	text-decoration: none;
}
.page-link:visited {
	color: blue;
}

/* Styles for results tables. */
.result-table {
	width: 100%;
	margin-top: 3px;
	border-collapse: collapse;
}
.result-table tr:nth-of-type(odd) {
    background: #ccddaa;
}
.result-table tr:nth-of-type(even) {
    background: #eeffcc;
}
.result-table tr {
	border-top: 1px solid #556633;
	padding: 0 5px 2px 5px;
}
.result-table tr:last-of-type {
	border-bottom: 1px solid #556633;
}
.result-table td {
	margin: 0 2px;
}
.right-align {
	text-align: right;
}
.center-align {
	text-align: center;
}
.game-score {
	min-width: 30px;
}

/* Styles for league tables. */
.league-table {
	width: 100%;
	margin: 3px auto;
	border-collapse: collapse;
	max-width: 400px;
}
.league-table tr:nth-of-type(odd) {
    background-color: #ccddaa;
}
.league-table tr:nth-of-type(even) {
    background-color: #eeffcc;
}
.league-table tr:first-child {
    background-color: #889966;
    color: white;
    font-weight: bold;
}
.league-table tr {
	border-top: 1px solid #556633;
	padding: 0 5px 2px 5px;
}
.league-table tr:last-of-type {
	border-bottom: 1px solid #556633;
}
.league-table td {
	margin: 0 2px;
}
.right-align {
	text-align: right;
}
.center-align {
	text-align: center;
}
.game-score {
	min-width: 30px;
}

/* Styling for images. */
.flag-icon {
	height: 15px;
	width: 15px;
}